* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: linear-gradient(90deg, rgba(247, 5, 5, 1) 0%, rgba(172, 96, 65, 1) 33%, rgba(87, 199, 133, 1) 60%, rgba(237, 168, 83, 1) 100%);

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    background: #534040;
    width: 400px;
    height: 450px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    animation: fadeIn 0.5s ease;
}

h2 {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

li {
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 15px;
}

label {
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #5a67d8;
}

.score {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
